@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

.Input {
  width: 100%;
  padding: 8px;
}

/* .Label {
  font-weight: 700;
  display: block;
  margin-bottom: 8px;
} */

.InputElement {
  outline: none;
  border: 1px solid #ccc;
  border-radius: 10px;

  font: 100px;
  padding: 6px 10px;
  display: block;
  width: 60%;
  box-sizing: border-box;
  color: hsl(30, 17%, 2%);
  transition: all 0.3s ease-in;
  height: 40px;
}
.InputElement:hover {
  box-shadow: 0 0 0 0.4px #c0900b;
  border: 1px solid #888783;
}

.InputElement:focus {
  outline: none;
  /* background-color: #ebe7e7; */
  /* border: 2px solid #c0900b; */
  border: 1px solid #c0900b;
  box-shadow: 0 0 0 0.4px #c0900b;
}

.InputElement .Invalid {
  border: 1px solid red;
  background-color: #fda49a;
}

.LabelText {
  color: #1b1a17;
  /* color: #f0e6ca; */
  font-size: 0.8rem;
  font-weight: 700;
  /* display: block; */
  margin-bottom: -10px;
}

@media (max-width: 551px) {
  .Input {
    /* background-color: #c0900b; */
    padding: 4px;
  }
  .Switch,
  .Signin-signup {
    width: 25%;
    font-size: 0.6rem;
    display: inline-block;
  }
  .InputElement {
    width: 70%;
    height: 35%;
  }

  .LabelText {
    font-size: 1.6rem;
  }
}

@media (max-width: 413px) {
  .LabelText {
    font-size: 1rem;
  }
}

/* @media (min-width: 1000px) {
  .LabelText {
    font-size: 1rem;
  }
} */
